# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
test1/sample_people_2022-06-01T00-00-00.json
test1/sample_people_2022-06-02T00-00-00.json
test1/sample_people_2022-06-03T00-00-00.json
test1/sample_people_2022-06-04T00-00-00.json
test1/sample_people_2022-06-05T00-00-00.json
test1/sample_people_2022-06-06T00-00-00.json
test1/sample_people_2022-06-07T00-00-00.json
test1/sample_people_2022-06-08T00-00-00.json
test1/sample_people_2022-06-09T00-00-00.json
test1/sample_people_2022-06-10T00-00-00.json
test1/sample_people_2022-06-11T00-00-00.json
test1/sample_people_2022-06-12T00-00-00.json
test1/sample_people_2022-06-13T00-00-00.json
test1/sample_people_2022-06-14T00-00-00.json
test1/sample_people_2022-06-15T00-00-00.json
test1/sample_people_2022-06-16T00-00-00.json
test1/sample_people_2022-06-17T00-00-00.json
test1/sample_people_2022-06-18T00-00-00.json
test1/sample_people_2022-06-19T00-00-00.json
test1/sample_people_2022-06-20T00-00-00.json
test1/sample_people_2022-06-21T00-00-00.json
test1/sample_people_2022-06-22T00-00-00.json
test1/sample_people_2022-06-23T00-00-00.json
test1/sample_people_2022-06-24T00-00-00.json
test1/sample_people_2022-06-25T00-00-00.json
test1/sample_people_2022-06-26T00-00-00.json
test1/sample_people_2022-06-27T00-00-00.json
test1/sample_people_2022-06-28T00-00-00.json
test1/sample_people_2022-06-29T00-00-00.json
test1/sample_people_2022-06-30T00-00-00.json
test1/sample_people_2022-07-01T00-00-00.json
test1/sample_people_2022-07-02T00-00-00.json
test1/sample_people_2022-07-03T00-00-00.json
test1/sample_people_2022-07-04T00-00-00.json
test1/sample_people_2022-07-05T00-00-00.json
test1/sample_people_2022-07-06T00-00-00.json
test1/sample_people_2022-07-07T00-00-00.json
test1/sample_people_2022-07-08T00-00-00.json
test1/sample_people_2022-07-09T00-00-00.json
test1/sample_people_2022-07-10T00-00-00.json
test1/sample_people_2022-07-11T00-00-00.json
test1/sample_people_2022-07-12T00-00-00.json
test1/sample_people_2022-07-13T00-00-00.json
test1/sample_people_2022-07-14T00-00-00.json
test1/sample_people_2022-07-15T00-00-00.json
test1/sample_people_2022-07-16T00-00-00.json
test1/sample_people_2022-07-17T00-00-00.json
test1/sample_people_2022-07-18T00-00-00.json
test1/sample_people_2022-07-19T00-00-00.json
test1/sample_people_2022-07-20T00-00-00.json
test1/sample_people_2022-07-21T00-00-00.json
