body{
    font-family: "Trebuchet MS", sans-serif;
    margin: 50px;
}
.demoHeaders {
    margin-top: 2em;
}
#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}
#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}
#icons {
    margin: 0;
    padding: 0;
}
#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}
select {
    width: 150px;
}

fieldset {
    margin-bottom:40px;
    overflow: hidden
}

  
  .radioclass {
    float: left;
    clear: none;
  }
  
label{font-weight: bold;}

 
.inputNumber{
    width: 50px;
}

.inputTextMedium{
    width: 400px;
}

.inputTextLong{
    width: 800px;
}

input,select{margin-right:20px}

.error{font-weight:normal;
      font-size:9pt;
      color:#740404}

h2{font-weight:normal;font-size:small}


.ui-progressbar {
position: relative;

}
.progress-label {
position: absolute;
left: 50%;
top: 4px;
font-weight: bold;
text-shadow: 1px 1px 0 #fff;
}

div.script-output {
    display:block; 
    border:1px #aaaaaa solid;
    margin: 10px;
    padding: 4px;
    font-family: monospace;
}



.columnTitle, .column {
    float: left;
    width: 200px;
  }
  
.columnTitle{
    font-weight: bold;
    width: 200px;
  }

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  } 

  